[Unit]
Description=Gunicorn instance to serve demo-backend
After=network.target

[Service]
User=ubuntu
Group=ubuntu
WorkingDirectory=/opt/ansible_crashcourse/backend
Environment="PATH=/opt/ansible_crashcourse/backend/venv/bin"
ExecStart=/opt/ansible_crashcourse/backend/venv/bin/gunicorn --bind {{ appserver_private_address }}:5000 wsgi:app --workers 4 --threads 2 --access-logfile /var/log/demo-backend/access.log --error-logfile /var/log/demo-backend/error.log --log-level INFO
Restart=on-failure
RestartSec=2s

[Install]
WantedBy=multi-user.target
