[Unit]
Description=Nuxtjs instance to serve demo-webapp
After=network.target

[Service]
User=ubuntu
WorkingDirectory=/opt/demo-webapp
ExecStart=/usr/bin/node /opt/demo-webapp/node_modules/.bin/nuxt start --port 3000
Restart=on-failure

[Install]
WantedBy=multi-user.target
