server {
  listen 80 default_server;
  server_name {{ domain_webapp }} {{ domain_backend }};

  location /.well-known/acme-challenge {
    root /var/www/letsencrypt;
    try_files $uri $uri/ =404;
  }
}
